In [1]:
a ='a'

In [2]:
ord(a)

97

In [3]:
chr(65)

'A'

In [4]:
a ="ramu"
print(a)

ramu

In [9]:
a = 1
b=5
c=10

In [10]:
print(str(a)+ "-> " + str(b)+ "-> " + str(c))

1-> 5-> 10

In [11]:
print("%d-%d-%d" % (a,b,c))

1-5-10

In [13]:
print("{firstName} , {lastName}" .format(firstName ="ram",lastName="shukla"))

ram , shukla

In [15]:
firstName ="ram"
lastName="shukla"
print(f"{firstName} , {lastName}")
#here f is used to fetch data from previous lines of code

ram , shukla

In [31]:
a= '  am.    '
#a.strip() is used ro remove white space from start to first character

In [32]:
print(a.strip())
a.strip()== "yes"

am.

False

In [33]:
a= input()

1 2 3 4 5 6

In [34]:
a.split(' ')

['1', '2', '3', '4', '5', '6']

In [43]:
a = "raamu"
# we can not change the any item directly just like array in cpp because string are immutable

In [44]:
a.replace('a','l')#all a replaced by l

'rllmu'

In [45]:
a.count('a')

2

### list in python

In [46]:
a =[1,2,3,4]

In [50]:
a

[1, 2, 3, 4]

In [51]:
a[2]

3

In [55]:
a=["ram", 2 , 1.5 , "die"] #hetrogenous

In [56]:
a[3]

'die'

In [57]:
a = 'ramu'

In [58]:
a[:]

'ramu'

In [61]:
a[::-1]# most eligant way to reverse a string

'umar'

In [62]:
a == a[::-1] # for pallindrome checking

False

### Touples

In [63]:
a=(1,2)

In [64]:
type(a)

tuple

In [65]:
b=1,2

In [66]:
type(b)

tuple

In [67]:
p, q = b

In [68]:
p

1

In [69]:
q

2

In [70]:
a=2
b=1

In [71]:
a,b = b,a

In [72]:
a

1

In [73]:
b

2